<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Website Title -->
    <title>Saryansh Goyal</title>
    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font-Awesome -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- Lightbox -->
	<link href="assets/lightbox/css/lightbox.css" rel="stylesheet">
    <!-- Text Rotator-->
	<link href="assets/textrotator/simpletextrotator.css" rel="stylesheet">
	<!-- FlexSlider -->
    <link href="assets/flexslider/flexslider.css" rel="stylesheet">
	<!-- Theme Style -->
    <link href="css/style.css" rel="stylesheet">
	<!-- Animations -->
    <link href="css/animate.css" rel="stylesheet">
	<!-- Custom Favicon -->
	<link href="img/favicon.png" rel="shortcut icon" type="image/x-icon" /> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="assets/html5shiv/html5shiv.js"></script>
    <script src="assets/respond/respond.min.js"></script>
    <![endif]-->

    
  </head>
    <body id="top">

      <!-- ****************************** Preloader ************************** -->
      <div id="preloader"></div>


	  	<!-- ==========================
        HEADER SECTION 
        =========================== -->
        <header id="home">
		    <!-- creative menu -->
            <div class="container-fluid">
              <div class="row">
                <div class="menu-wrap">
				<nav class="menu">
				    <!-- Menu Links -->
					<div class="icon-list">
						<a href="#home"><i class="fa fa-fw fa-home"></i><span>Home</span></a>
						<a href="#about"><i class="fa fa-fw fa-quote-left"></i><span>About</span></a>
						<a href="#service"><i class="fa fa-fw fa-globe"></i><span>Service</span></a>
						<a href="#skills"><i class="fa fa-fw fa fa-laptop"></i><span>Skills</span></a>
						<a href="#portfolio"><i class="fa fa-fw fa-picture-o"></i><span>Portfolio</span></a>
						<a href="#contact"><i class="fa fa-fw fa-envelope-o"></i><span>Contact</span></a>
					</div>
				</nav>
			    </div>
			    <button class="menu-button" id="open-button"></button><!-- menu button -->
              </div><!--/row-->
            </div><!--/container-->
		  <!-- Header Image -->
          <section class="hero" id="hero">
            <div class="container">
			  <!-- Slider Button (don't edit!)-->
              <div class="row">
                <div class="col-md-12 text-right navicon">
                  <a id="nav-toggle" class="nav_slide_button" href="index.html#"><span></span></a>
                </div>
              </div>
			  <!-- HEADER HEADLINE -->
              <div class="row">
                <div class="col-md-8 col-md-offset-1 inner">
                  <h1 class="animated fadeInDown">
                    Sa<span style="color:#E04343;">r</span>y<br/>
                    <span>an<span style="color:#FFE800">s</span>h</span>
                  </h1><!-- Title -->
                  <h3 class="animated fadeInUp delay-05s"><span class="rotate">Software Developer,web developer, web designer</span></h3><!-- Text Rotator -->
                </div>
              </div>
			  <!-- Learn More Button -->
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="#about" class="scrollto wow fadeInUp delay-5s ">
			            <p>SEE MORE</p>
			            <p class="scrollto--arrow"><img src="img/scroll-down.png" alt="scroll down arrow"></p>
			        </a>
                </div>
              </div>
            </div>
          </section>
		  <!-- Header Image End -->
        </header>
		<!-- ==========================
        HEADER SECTION END  
        =========================== -->
		
		
		
		
		<!-- ==========================
        ABOUT SECTION  
        =========================== -->
        <section class="intro text-center section-padding color-bg" id="about">
          <div class="container">
		    <!-- WELCOME TEXT -->
            <div class="row">
              <div class="col-md-8 col-md-offset-2 wp1">
                <h1 class="arrow">A little <span>about</span> me</h1><!-- Headline -->
				<!-- about / welcome text -->
                <p>In the field of Computer Science Engineering, a highly motivated and poisitive indvidual with great organizational skills, a good communicator
and a planner with strong judgment and critical thinking abilities . Exploring the field of web development/software development and working hard to give something back to society.</p>
              </div>
            </div>
          </div>
        </section>




<!-- ==========================
        SERVICE SECTION 
        =========================== -->
        <section class="features text-center section-padding" id="service">
          <div class="container">
        <!-- Headline -->
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">I do amazing things for clients</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
          <div class="services">
          <!-- Service Box 1 -->
                  <div class="col-md-6 wp2 item">
                    <div class="icon">
                      <i class="fa fa-laptop"></i><!-- Icon -->
                    </div>
                    <h2>Software Development</h2><!-- Title -->
                    <p>The most important single aspect of software development is to be clear about what you are trying to build.</p><!-- Description -->
                  </div>
          <!-- Service Box 2 -->
                  <div class="col-md-6 wp2 item delay-05s">
                    <div class="icon">
                      <i class="fa fa-desktop"></i><!-- Icon -->
                    </div>
                    <h2>Web Development</h2><!-- Title -->
                    <p>A successful website does three things: It attracts the right kinds of visitors. Guides them to the main services or product you offer. Collect Contact details for future ongoing relation.</p><!-- Description -->
                  </div>

          </div>
                  <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </section>




<!-- Testing -->
<!-- Skills Section -->

      <section class="features text-center section-padding" id="service">
      <div class="container">
    <!-- Headline -->
         
          <div class="row">
            <div class="col-md-12">
             <h1 class="arrow">Skills</h1>
            </div>
          </div>
          <a id="skills"></a>
            <div class="row">
              <div class="col-md-12">
          <div class="services">
            
          <!-- Skills Box 1 -->
                  <div class="col-md-2 wp2 item">
                    <div class="icon">
                      <i class="fa fa-language"></i><!-- Icon -->
                    </div>
                    <h2>C/C++</h2><!-- Title -->

                  </div>
          <!-- Skills Box 2 -->
                  <div class="col-md-2 wp2 item delay-05s">
                    <div class="icon">
                      <i class="fa fa-desktop"></i><!-- Icon -->
                    </div>
                    <h2>Data Structures</h2><!-- Title -->

                  </div>
          <!-- Skills Box 3 -->
                  <div class="col-md-2 wp2 item delay-1s">
                    <div class="icon">
                      <i class="fa fa-cubes"></i><!-- Icon -->
                    </div>
                    <h2>Nodejs</h2><!-- Title -->
                  </div>
          <!-- Skill section -4 -->
                  <div class="col-md-2 wp2 item delay-1s">
                    <div class="icon">
                      <i class="fa fa-code"></i><!-- Icon -->
                    </div>
                    <h2>Sql/MongoDB</h2><!-- Title -->
     
                  </div>
                  
          <!-- Skills Section-5 -->
                  <div class="col-md-2 wp2 item delay-1s">
                    <div class="icon">
                      <i class="fa fa-cubes"></i><!-- Icon -->
                    </div>
                    <h2>Html/Css</h2><!-- Title -->
          
                  </div>

          <!-- Skills Section-6 -->        
                  <div class="col-md-2 wp2 item delay-1s">
                    <div class="icon">
                      <i class="fa fa-cubes"></i><!-- Icon -->
                    </div>
                    <h2>Javascript</h2><!-- Title -->
              
                  </div>
          </div>
                  <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </section>


		<!-- ==========================
        PROJECTS SECTION START
        =========================== -->	
        

{{!-- checking...................................... --}}
        <section class="swag text-center" id="portfolio">
          <div class="container">
		    <!-- Headline -->
            <div class="row">
              <h1 class="arrow">
                Recent <span>Projects</span>
              </h1>
            </div>
          </div>
        </section>

        <div class="container">
        <!-- Project-1 -->
        <div style="margin-bottom: 10px;" class="row color-bg">
          <div class="col-md-6 nopadding features-intro-img  hidden-img">
            <div class="about-image" style="background-image:url(img/sc111.jpg)"></div><!-- about image 1 -->
          </div>
          <div class="col-md-6 about-text">
            <h6>Weather & Quotes App</h6><!-- headline-->
            <p>  It delivers the current weather status along with an awesome quotes and nowadays it's a trend to post new quotes on social media , so we have provided a button to post displayed quotes directly on twitter.
             <br>It is developed using node.js , mongoDB , Javascript , html , css</p>
            <a href="https://weather-quote-fullstack-app.herokuapp.com/" class="weight-outline-btn" target="blank">View Project</a><!-- read more button  -->			
          </div>
        </div>
  
        <!-- Project-2 -->
        <div style="margin-bottom: 10px;"  class="row color-bg">
          <div class="col-md-6 nopadding features-intro-img hidden-img">
            <div class="about-image" style="background-image:url(img/education-sc1.png)"></div><!-- about image 3 -->
          </div>
          <div class="col-md-6 about-text">
            <h6>Landing Pages</h6><!-- Headline-->
            <p> Various Landing pages for educational websites, Dance Academy Websites etc . According to client requirements we can change content in it.
             Javascript , Bootstrap,html , css  are used in this website along with other web technologies like nodejs, mongoDB atlas etc.</p><br><!-- About Text 3 -->
            <a href="https://education-web-saryansh.herokuapp.com/"  class="weight-outline-btn" target="blank">View Project - 1</a><!-- read more button  -->					
            <a href="https://nodejs-mongoose-pc.herokuapp.com/"  class="weight-outline-btn" target="blank">View Project - 2</a><!-- read more button  -->					
          </div>
        </div>
 

      </div>
    </div>
		
		<!-- ==========================
        PROJECTS SECTION END
        =========================== -->	

		

        
  
		
		<!-- ==========================
        CONTACT SECTION
        =========================== -->
        <section class="text-center section-padding contact-wrap container-fluid" id="contact">
		  <div class="container">
		    <!-- Headline -->
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Drop <span>me</span> a line</h1>
              </div>
            </div>
            <div class="row contact-details">
			  <!-- Adress Box -->
              <div class="col-md-4">
                <div class="dark-box box-hover">
                  <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                  <p>#423 Arora Street, Malerkotla , Punjab - 148023</p>
                </div>
              </div>
			  <!-- Phone Number Box -->
              <div class="col-md-4">
                <div class="dark-box box-hover">
                  <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                  <p>+91 98553-21092</p>
                </div>
              </div>
			  <!-- E-Mail Box -->
              <div class="col-md-4">
                <div class="dark-box box-hover">
                  <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                  <p><a href="mailto: shreyanshgoyal999@gmail.com">shreyanshgoyal999@gmail.com</a></p>
                </div>
              </div>
            </div>
			<div class="row">

			  <!-- Contact Form -->
			  <div class="col-md-12 contact">
			     <form role="form" method="post" action="/contact">
				            <!-- Name -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="Name" class="form-control" placeholder="Your name">
                                    </div>
                                </div>
                                <div class="col-md-6">
								    <!-- E-Mail -->
                                    <div class="form-group">
                                        <input type="email" name="Email" class="form-control" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
							<!-- Message Area -->
                            <div class="form-group">
                                <textarea class="form-control" name="Message" placeholder="Write you message here..." style="height:232px;"></textarea>
                            </div>
							<!-- Subtmit Button -->
                            <button type="submit" class="btn btn-send">
                                Send message
                            </button>
                        </form>
			  </div>
			</div>
			<br>
			<!-- Social Buttons - use font-awesome, past in what you want -->
            <div class="row">
              <div class="col-md-12">
                <ul class="social-buttons">
                  {{!-- <li><a href="index.html#" class="social-btn"><i class="fa fa-dribbble"></i></a></li><!-- dribble -->
                  <li><a href="index.html#" class="social-btn"><i class="fa fa-twitter"></i></a></li><!-- twitter -->
                  <li><a href="https://www.facebook.com/shreyanshgoyal999" class="social-btn" target="blank"><i class="fa fa-facebook"></i></a></li><!-- facebook -->
				          <li><a href="index.html#" class="social-btn"><i class="fa fa-deviantart"></i></a></li><!-- deviantart --> --}}
				          <li><a href=" https://www.instagram.com/shreyansh_goyal98" class="social-btn " target="blank"><i class="fa fa-instagram"></i></a></li><!-- youtube -->
                </ul>
              </div>
            </div>
          </div>
        </section>
		<!-- ==========================
        CONTACT SECTION END
        =========================== -->
		
		
		
		<!-- ==========================
        FOOTER SECTION
        =========================== -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p>All Rights Reserved. &copy; 2022 Saryansh Goyal
              </div>
            </div>
          </div>
        </footer>
		<!-- ==========================
        FOOTER SECTION END
        =========================== -->		
		
		
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- SmoothScroll -->           
    <script type="text/javascript" src="assets/smoothscroll/smoothscroll.js"></script>
    <!-- Bootstrap -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/waypoints.min.js"></script>
    <!-- classie.js -->
	<script src="js/classie.js"></script>
    <!-- FlexSlider -->
    <script src="assets/flexslider/jquery.flexslider.js"></script>
	<!-- Modernizr -->
    <script src="js/modernizr.js"></script>
	<!-- Text Rotator -->
	<script src="assets/textrotator/jquery.simple-text-rotator.js"></script>
	<!-- Lightbox.js -->
    <script src="assets/lightbox/js/lightbox.min.js"></script>
    <!-- Google Maps --> 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeKBBPJTG3v5w3cNPAgM6ZsJiPyL1mP_o&amp;sensor=false"></script>
	<!-- Theme JavaScript Core -->
	<script src="js/main.js"></script>
	<script src="js/script.js"></script>

	<!-- GOOGLE MAPS DATA -->
    <script type="text/javascript">
    // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);
    
        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 15,
                
                scrollwheel: false,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(40.68961985411178, -74.01618003845215), // New York 

                // How you would like to style the map. 
                // This is where you would paste any style found on Snazzy Maps.
                styles: [	{		featureType:'water',		stylers:[{color:'#F2F2F2'},{visibility:'on'}]	},{		featureType:'landscape',		stylers:[{color:'#FFFFFF'}]	},{		featureType:'road',		stylers:[{saturation:-100},{lightness:45}]	},{		featureType:'road.highway',		stylers:[{visibility:'simplified'}]	},{		featureType:'road.arterial',		elementType:'labels.icon',		stylers:[{visibility:'off'}]	},{		featureType:'administrative',		elementType:'labels.text.fill',		stylers:[{color:'#ADADAD'}]	},{		featureType:'transit',		stylers:[{visibility:'off'}]	},{		featureType:'poi',		stylers:[{visibility:'off'}]	}]
            };

            // Get the HTML DOM element that will contain your map 
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('googlemaps');

            // Create the Google Map using out element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);
        }
	
    </script>
	
	<!-- TEXT ROTATOR SETTINGS -->
    <script type="text/javascript">
    $(".rotate").textrotator({
      animation: "fade", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
      separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
      speed: 2000 // How many milliseconds until the next word show.
    });
    </script>
	
    </body>
</html>